<div class="container footer-grid">
    <div class="footer-about">
        <a href="#" class="logo-text">SMART <span>TECHNOLOGY</span></a>
        <p>Полный цикл сервисных услуг для вашей недвижимости в Астане.</p>
    </div>
    <div class="footer-links">
        <h4>Навигация</h4>
        <ul>
            <li><a href="/about.html">О компании</a></li>
            <li><a href="/objects.html">Объекты</a></li>
			<li><a href="/reviews.html">Отзывы</a></li>
            <li><a href="/contacts.html">Контакты</a></li>
        </ul>
    </div>
    <div class="footer-services">
        <h4>Услуги</h4>
        <ul>
            <li><a href="/services/engineering.html">Инженерия</a></li>
            <li><a href="/services/cleaning.html">Клининг</a></li>
            <li><a href="/services/security.html">Безопасность</a></li>
        </ul>
    </div>
    <div class="footer-contacts">
        <h4>Контакты</h4>
        <p><i class="fa-solid fa-location-dot"></i> Казахстан, г. Астана</p>
        <p><i class="fa-solid fa-phone"></i> +7 (771) 437-64-74</p>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; 2026 SMART TECHNOLOGY. Все права защищены.</p>
</div>