<div class="container header-container">
    <div class="logo-area">
        <a href="/index.html" class="logo-text">SMART <span>TECHNOLOGY</span></a>
        <span class="logo-sub">сервисная компания</span>
    </div>
    
    <nav class="main-nav">
        <ul>
            <li><a href="/index.html">Главная</a></li>
            <li class="dropdown">
                <a href="#">Услуги <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/services/engineering.html">Инженерия</a></li>
                    <li><a href="/services/cleaning.html">Клининг</a></li>
                    <li><a href="/services/security.html">Безопасность</a></li>
                </ul>
            </li>
            <li><a href="/objects.html">Объекты</a></li>
            <li><a href="/about.html">О компании</a></li>
            <li><a href="/reviews.html">Отзывы</a></li>
            <li><a href="/contacts.html">Контакты</a></li>
        </ul>
    </nav>

    <div class="header-contacts">
        <a href="tel:+77714376474" class="phone-link"><i class="fa-solid fa-phone"></i> +7 (771) 437-64-74
		</a>
        <a href="/index.html#quote-form" class="btn btn-emergency">Диспетчер 24/7</a>
    </div>
</div>